<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="/wwwroot/css/homeStyles.css">
</head>

<body>
    <header>
        <h1>Göktuğ'un MVC Projesine Hoş Geldiniz</h1>
        <nav>
            <ul>
                <li><a href="#">Ana Sayfa</a></li>
                <li><a href="#">Ürünler</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>
        </nav>
    </header>

    <section id="main-content">
        <h2>Projeye Genel Bakış</h2>
        <p>Bu proje, .NET Core MVC ve SQL Server kullanılarak oluşturulmuştur. Ödeme entegrasyonu ve kullanıcı
            bilgilerini kaydetme işlevselliği içerecektir.</p>
    </section>

    <footer>
        <p>&copy; 2024 Göktuğ MVC Projesi. Tüm hakları saklıdır.</p>
    </footer>

    <script src="/js/scripts.js"></script>
</body>

</html>